
body {
background-color: CadetBlue;
color: MidnightBlue;
font-family: arial, helvetica, sans-serif;
}
ol {list-style-type: lower-alpha;
padding: 5em;
    
}

figure {background-color:lavender; margin:3em; width: 30%;} 
figcaption {font-style:italic; font-size:.8em;}
figure img {max-width:300px; width:100%;}
.flex-container {
    display: flex;
    flex: 4;
    margin-left: auto;
    margin-right: auto;
}

div.main {
    flex: 4;
    padding: 1vw;
    margin-left: auto;
    margin-right: auto;
}

div.flex-container {
    flex-wrap: wrap;
}

img.thumbnail {
    margin: 10px;
    height: 200px;
    width: 200px;
}

.overlay {
    position: absolute; 
    bottom: 10px;
    left: 10px;
    right: 22px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 140px;
    transition: .5s ease;
    opacity: 0;
    border-radius: 15px;
    font-size: x-small;
    padding: 30px;
    text-align: center;
    font-family: arial, helvetica, sans-serif;
}

figure:hover .overlay {
    opacity: 1;
}

div > figure {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: initial;
    flex-wrap: wrap;
}

.card-text {
  text-overflow: ellipsis;
  height: 100px;
  overflow: hidden;
  white-space: nowrap;
}
 