
body {
background-color: CadetBlue;
color: MidnightBlue;
font-family: arial, helvetica, sans-serif;
}
ol {list-style-type: lower-alpha;
padding: 5em;
    
}

figure {background-color:lavender; margin:3em; width: 30%;} 
figcaption {font-style:italic; font-size:.8em;}
figure img {max-width:300px; width:100%;}
 
 img{
     border-radius: 15px;
     flex-direction: row;
     margin-bottom: 20px; 
     margin: 10px;
     height: 200px;
     width: 200px;
 }
 
 .header{
     line-height: 150%;
     font-size: 18px;
     font-family: 'Sansita', sans-serif;
 }
 
 .header:hover{
     line-height: 150%;
     font-size: 18px;
     font-family: arial, helvetica, san-serif;
     color:silver;
 }
 
 